<app-navbar></app-navbar>
<div class="container">
  <h5 class="page-title">Demandes en attentes</h5>
  <div class="requests-access"><a href="#" routerLink="/moderateur">Tableau de bord</a></div>

  <div class="request-list">

    <h6>En attente de validation: <span> {{ countPending }} </span></h6>

    <table>
      <thead>
      <tr>
        <td>DATE</td>
        <td>N° DECAISSEMENT</td>
        <td>BENEFICIAIRE</td>
        <td>MOTIF</td>
        <td>AFFECTATION</td>
        <td>INDICE</td>
        <td>MONTANT</td>
      </tr>
      </thead>

      <tbody >
        <tr *ngFor="let disb of pendingDisburs;" [ngClass]="{'untreated': checktreatedValidation(disb) }"
            routerLink="./requete/{{ disb.debursementId }}/processing">
          <td>{{ disb.createdOn | date: 'dd/MM/yyyy à HH:mm' }}</td>

          <td>
             <span *ngFor="let bindex of budgetsIndex">
              <span *ngIf="disb.budgindexId==bindex.budgindexId">
               <span *ngFor="let sector of budgetsectors">
                 <span *ngIf="bindex.budgsectorId==sector.budgsectorId">
                   {{ formatIdentifier(disb.createdOn,sector.budgsectorId, disb.identifier) }}
                 </span>
               </span></span></span>
          </td>

          <td>
            <span *ngFor="let recip of users">
              <span *ngIf="recip.userId==disb.recipientId">
                {{ recip.civility + '. ' + recip.lastname + ' ' + recip.firstname }}
              </span>
            </span>
          </td>

          <td style="text-align: left">{{ disb.reason }}</td>

          <td>
            <span *ngFor="let bindex of budgetsIndex">
              <span *ngIf="disb.budgindexId==bindex.budgindexId">
               <span *ngFor="let sector of budgetsectors">
                 <span *ngIf="bindex.budgsectorId==sector.budgsectorId">{{ sector.budgsectorName }}</span>
               </span></span></span>
          </td>

          <td>
            <span *ngFor="let bindex of budgetsIndex">
              <span *ngIf="bindex.budgindexId==disb.budgindexId">{{ bindex.budgindexName }}</span>
            </span>
          </td>

          <td style="text-align: right;">{{ disb.amountRequested }}</td>
        </tr>
      </tbody>

    </table>

  </div>


</div>

<app-footer></app-footer>

