<nav class="navbar">
  <!-- <div class="container"> -->

  <div class="navbar-brand">

    <a href="#" routerLink="/decaissement">
      <img src="assets/img/banamur_logo_thumb.png" class="d-inline-block align-text-top">
      <span class="brand-name">BANAMUR DECAISSEMENT</span>
    </a>

    <!--
    <button *ngIf="!updateAvailable" class="btn btn-dark download-btn" id="pwa-install-button"
            title="Cliquez pour installer l'application sur votre bureau">Installer l'application
    </button>
    -->

    <button *ngIf="updateAvailable" class="btn btn-outline-light update-notification" (click)="doUpdate()"
            title="Cliquez pour mettre à jour l'application">Une Mise à jour est disponible !
    </button>

  </div>

  <div class="user-resume">

    <a href="#" class="notice-bulle" (click)="$event.preventDefault(); onDisplayNotice()">
      {{ userNotfs!=undefined ? countNotif(userNotfs)>=99 ? '99+' : countNotif(userNotfs)  : 0 }}
    </a>

    <h6><a href="#" routerLink="/profil" *ngIf="user!=null">
      {{ user.civility }}. {{ user.lastname!=undefined ? user.lastname.toUpperCase() : null }} {{ user.firstname }}
    </a></h6>

    <a href="#" class="user-icon" (click)="$event.preventDefault(); onDisplayMode()">
      <img src="assets/icon/user2.svg">
    </a>

    <a href="#" class="user-icon" (click)="$event.preventDefault(); onDisplaySettings()">
      <img src="assets/icon/settings4.svg">
    </a>

  </div>

  <div class="card float-card" id="notice-card" [hidden]="!showNotice">
    <!-- <div class="card-header">
      Notifications
    </div> -->
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let notif of userNotfs ">
        <a href="#" class="notice_item"
                    [ngClass]="!(notif.notificationOpened===null) ? 'opened' : ''"
                    (click)="$event.preventDefault(); onOpenNotification(notif.notifuserId, notif.notificationLink);">
          <h6>{{ notif.notification!=null ? notif.notification.notificationSubject : null }}</h6>
          <p>
            <a href="#" class="accent"[ngClass]="!(notif.notificationOpened===null) ? 'opened' : ''"
                (click)="$event.preventDefault(); onOpenNotification(notif.notifuserId, notif.notificationLink);">
            {{ notif.notification!=null && notif.notification.notificationDetails!=undefined ?
            notif.notification.notificationDetails.slice(0,120) + (notif.notification.notificationDetails.length-1 > 120 ?
            '...' : '') :null }}
            </a>
          </p>
          <p>Date: {{ notif.notificationDate | date: 'd / MM / yyyy à HH:mm' }} </p>
        </a>
      </li>
      <li class="list-group-item" style="color: lightgray" [hidden]="userNotfs!=null">Aucune notification</li>

      <!--<li class="list-group-item">
        <a href="#" routerLink="/decaissement" class="notice_item opened">
          <h6>Nouveau compte</h6>
          <p><a href="#" routerLink="/decaissement" class="accent">Mme Assoumou Giselle</a> attend la validation de son compte</p>
          <span>Date: 20/02/2022 à 20h43</span>
        </a>
      </li>
      -->
    </ul>
    <!-- <div class="card-footer"></div>-->
  </div>

  <div class="card float-card" id="switch-card" [hidden]="!switchMode">
    <!-- <div class="card-header">
      Paramètre
    </x> -->
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style=""> <a href="#" routerLink="/decaissement" class="switch-item">Décaissement</a></li>
      <li class="list-group-item" style=""> <a href="#" routerLink="/moderateur/budget/ressources" class="switch-item">Ressources budgétaires</a></li>
      <li class="list-group-item" style="" [hidden]="!isModerator"> <a href="#" routerLink="/moderateur/requetes" class="switch-item">Gestion des requêtes</a></li>
      <li class="list-group-item" style="" [hidden]="!isModerator"> <a href="#" routerLink="/moderateur/rapports" class="switch-item">Rapport de caisse</a></li>
      <li class="list-group-item" style=" text-align: center">
        <button class="btn btn-danger" type="button" (click)="onSignOut()" >Déconnexion</button>
      </li>
    </ul>
    <!-- <div class="card-footer"></div>-->
  </div>

  <div class="card float-card" id="setting-card" [hidden]="!showSettings">
    <!-- <div class="card-header">
      Paramètre
    </div> -->
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style=""> <a href="#" routerLink="/moderateur/reglage/comptes" class="setting-item">Reglage de compte</a></li>
      <li class="list-group-item" style=""> <a href="#" routerLink="/moderateur/reglage/ressources" class="setting-item">Paramètre des ressources</a></li>
      <li class="list-group-item" style=""> <a href="#" routerLink="/moderateur/reglage/roles" class="setting-item">Reglage des roles & services</a></li>
      <li class="list-group-item" style=""> <a href="#" routerLink="/moderateur/reglage" class="setting-item">Reglage général</a></li>
    </ul>
    <!--<div class="card-footer"></div>-->
  </div>

</nav>
