<app-navbar></app-navbar>
<div class="container">
  <h5 class="page-title">Tableau de bord</h5>
  <div class="requests-access"><a href="#" routerLink="/moderateur/requetes">Demandes en cours <span style="">{{ countPending }}</span></a></div>

  <div class="dashbord-items">

    <div class="dashbord-item">
      <a href="#" routerLink=""><img src="assets/icon/" alt=""></a>
      <div class="item-label">

      </div>
    </div>

    <div class="dashbord-item">
      <a href="#" routerLink=""><img src="assets/icon/" alt=""></a>
      <div class="item-label">

      </div>
    </div>

    <div class="dashbord-item">
      <a href="#" routerLink=""><img src="assets/icon/" alt=""></a>
      <div class="item-label">

      </div>
    </div>

    <div class="dashbord-item">
      <a href="#" routerLink=""><img src="assets/icon/" alt=""></a>
      <div class="item-label">

      </div>
    </div>

    <div class="dashbord-item">
      <a href="#" routerLink=""><img src="assets/icon/" alt=""></a>
      <div class="item-label">

      </div>
    </div>

    <div class="dashbord-item">
      <a href="#" routerLink=""><img src="assets/icon/" alt=""></a>
      <div class="item-label">

      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>

