<app-navbar></app-navbar>

<div class="container">

  <table>
    <tr>
      <td class="side">
        <h4 class="page-title">Paramètre</h4>

        <div class="card left-side-card">
          <!-- <div class="card-header">
            Paramètre
          </div> -->
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style=""> <a href="#" routerLink="/moderateur/reglage/comptes" class="setting-item">Reglage des comptes</a></li>
            <li class="list-group-item" style=""> <a href="#" routerLink="/moderateur/reglage/ressources" class="setting-item">Paramètre des ressources</a></li>
            <li class="list-group-item" style=""> <a href="#" routerLink="/moderateur/reglage/roles" class="setting-item">Reglage des roles & services</a></li>
            <li class="list-group-item current" style=""> <a href="#" routerLink="/moderateur/reglage" class="setting-item">Reglage général</a></li>
          </ul>
          <!--<div class="card-footer"></div>-->
        </div>
      </td>

      <td class="content">
        <div class="setting-bloc">


          <table class="list-group-setting">
            <tr>
              <td class="col1" colspan="3"><h5>Général</h5></td>
              <td class="col2" colspan="2" style="text-align: right"><span class="accent">Rôle: </span> Administrateur</td>
            </tr>

            <tr>
              <td colspan="5"><hr/></td>
            </tr>

            <tr>
              <td class="col1"></td>
              <td class="col2"></td>
              <td class="col3"></td>
              <td class="col4"></td>
              <td class="col5"></td>
            </tr>

          </table>

        </div>
      </td>

    </tr>
  </table>

</div>

<app-footer></app-footer>
