<app-navbar></app-navbar>
<div class="container">
  <h5 class="page-title">Mes décaissements </h5>
  <div class="requests-access"><a href="#" routerLink="/moderateur/requetes">Retour aux requêtes</a></div>

  <div class="request-item">

    <h6 style="margin-bottom: 20px">Décaissement N°:
      <span *ngFor="let bindex of budgetsIndex">
        <span *ngIf="disbursement.budgindexId==bindex.budgindexId">
         <span *ngFor="let sector of budgetsectors">
           <span *ngIf="bindex.budgsectorId==sector.budgsectorId">
             {{ disbursement.identifier }}
           </span>
         </span></span></span>
    </h6>
    <p [hidden]="!status"
      style="color: #b53700; font-weight: bold; font-size: 16pt; text-align: center; border: 1px solid #b53700"> {{ status }}</p>

    <table>
      <thead>
      <tr>
        <td>DATE</td>
        <td>MOTIF</td>
        <td>AFFECTATION</td>
        <td>INDICE</td>
        <td>MONTANT</td>
        <td>APPROUVE</td>
        <td [hidden]="!treated">OBSERVATION</td>
      </tr>
      </thead>

      <tbody style="height: 80px;">
      <tr>
        <td>{{ disbursement.createdOn | date: 'dd / MM / yyyy à HH:mm' }}</td>
        <td style="text-align: left">{{ disbursement.reason }}</td>

        <td>
          <span *ngFor="let bindex of budgetsIndex">
            <span *ngIf="disbursement.budgindexId==bindex.budgindexId">
             <span *ngFor="let sector of budgetsectors">
               <span *ngIf="bindex.budgsectorId==sector.budgsectorId">{{ sector.budgsectorName }}</span>
             </span></span></span>
        </td>

        <td>
          <span *ngFor="let bindex of budgetsIndex">
            <span *ngIf="bindex.budgindexId==disbursement.budgindexId">{{ bindex.budgindexName }}</span>
          </span>
        </td>
        <td style="text-align: center;">{{ disbursement.amountRequested }}</td>
        <td><span style="color: #8b2b17;">{{ disbursement.amountApproved==null ? '-' : disbursement.amountApproved }}</span></td>
        <td [hidden]="!treated"><a href="#obsev" routerLink="./" (click)="onExportToPDF(disbursement.debursementId)"> Impriner </a></td>
      </tr>
      </tbody>
    </table>

  </div>

  <div class="validation-chain">

    <h6>Chaine de validation</h6>
    <p *ngIf="validationChain.length==0" style="text-align: center; color: #4F6064">En attente d'approbation</p>
    <table>
      <thead>
        <tr>
          <td *ngFor="let val of validationChain; let i = index;" class="chain-item chain{{ i+1 }}"> {{ validationChain[i] ? validationChain[i].department.toUpperCase() : 'APPROBATION' }}</td>
         <!-- <td class="chain-item chain2"> {{ validationChain[1] ? validationChain[1].department.toUpperCase() : 'VERIFICATION' }}</td>
          <td class="chain-item chain3"> {{ validationChain[2] ? validationChain[2].department.toUpperCase() : 'DECAISSEMENT' }}</td> -->
        </tr>
      </thead>

      <tr style="height: 80px;">
        <td *ngFor="let val of validationChain; let i = index;" class="chain-item chain{{ i+1 }}"> {{ validationChain[i] ? validationChain[i].validator : ' - ' }}</td>
        <!-- <td class="chain-item chain2"> {{ validationChain[1] ? validationChain[1].validator : ' - ' }}</td>
        <td class="chain-item chain3"> {{ validationChain[2] ? validationChain[2].validator : ' - ' }}</td>-->
      </tr>

      <tr>
        <td class="chain-item chain1" colspan="3" style="border: none; text-align: left"><br/></td>
      </tr>

      <tr id="obsev">
        <td class="chain-item chain1" colspan="3" style="border: none; text-align: left"> Observations : </td>
      </tr>

      <tbody *ngFor="let valid of validationChain" [ngClass]="{'hide': (valid.observation=='' || valid.observation=='')}">
        <tr>
          <td class="chain-item chain1" colspan="3" style="border: none;"> <hr/> </td>
        </tr>
        <tr>
        <td class="chain-item chain1" colspan="3" style="border: none; text-align: left">
          <h6> {{ valid ? valid.validator : ' - ' }}</h6>
        </td>
        </tr>

        <tr>
          <td class="chain-item chain1" colspan="3" style="border: none; text-align: left">
            {{ valid ? valid.observation : ' - ' }}
          </td>
        </tr>
      </tbody>

    </table>

  </div>

</div>

<app-footer></app-footer>

