<app-navbar></app-navbar>

<div class="container">

  <table>
    <tr>
      <td class="content">
        <div class="setting-bloc">
          <table class="list-group-setting">

            <tbody>
            <tr>
              <td class="col1"><h5>Mon profil</h5></td>
              <td class="col2" style="text-align: right">
                <p *ngIf="self.offices.length!=0">
                  <span class="accent">Rôle: </span>
                  <span *ngFor="let office of self.offices">{{ office.profile ? office.profile.profileName : '' }}</span>
                </p>
              </td>
            </tr>

            <tr>
              <td colspan="5"><hr/></td>
            </tr>

            <tr>
              <td class="col1">
                <h6>{{ self.civility + '. ' + self.lastname + ' ' + self.firstname }}</h6>
                <p *ngFor="let office of myOffices">
                  <span>{{ office.officeName }}</span> <br/>
                </p>
              </td>
              <td class="col2">
                <p><a href="#" routerLink="./">Modifier mes informations personnelles</a><br/>
                  <a href="#" style="color: gray;"routerLink="./" >Supprimer mon compte</a></p>
              </td>
            </tr>

            <tr>
              <td class="col1">
                <p>
                  <span>{{ self.email }}</span> <br/>
                  <span>{{ self.mobile }}</span>
                </p>
              </td>
              <td class="col2" colspan="2"><a href="#">Modifier l'adresse e-mail</a> <br/>
                <a href="#" routerLink="./">Changer mon numéro de téléphone</a></td>
            </tr>

            <tr>
              <td class="col1">
                <p *ngFor="let office of myOffices">
                  <span>{{ office.profile ? office.profile.profileName : '' }}</span>
                </p>
              </td>
              <td class="col2"><a href="#" routerLink="./">Changer mon profil</a></td>
            </tr>

            <tr>
              <td class="col1"><p>************</p></td>
              <td class="col2"><a href="" routerLink="./">Modifier mon mot de passe</a></td>
            </tr>

            </tbody>
          </table>

        </div>
      </td>
    </tr>

  </table>

</div>

<app-footer></app-footer>
