.container {
  position: relative;
}

.requests-access {
  width: 198px; float: right; margin-top: 26px; text-align: center;
}

.requests-access a {
  display: block; padding-top: 8px; padding-bottom: 10px;
  color: gray; border: 1px lightgray solid; border-radius: 10px;
}
.requests-access a:hover {
  color: #003564; border: 1px darkgray solid;
}

.page-title {
  display:inline-block; margin-top: 46px; color:#4F6064; font-weight: bold; float: left;
}

.side-left {
  clear: both; width: 100px; float: left;}

.disbursment-item {
  width: 186px; height: 146px; margin-top: 60px;
}

.disbursment-item .item-label {
  color: gray; margin-left: 20px; margin-top:10px
}

.disbursment-item:hover .item-label p {
  color: #003564;
}

.disbursment-item .item-label h4{
  font-weight: bold; color:#4F6064;
}

.disbursment-item a {
  width: 186px; height: 126px; border-radius: 20px; border: 1px solid lightgray;
  display: flex; align-content: center; justify-content: center;
}

.disbursment-item a img{
  width:60px; position: relative; top: -10px
}

.body-content {
  width: 72%; float: right;
}

.body-content table { width: 100%;}

.body-content table td {}

.body-content table td .mb-3{margin-bottom: 0rem !important;}

.body-content table td.col1{
width: 20%;
}

.body-content table td.col2{
width: 20%;
}

.body-content table td.col3{
text-align: right;
}
.body-content table td.col4{
width: 10%; text-align: right;
}

.body-content table td input,
.body-content table td select,
.body-content table td textarea {
margin: 5px 0;
}

.body-content table td .details-fields button {
  height: 38px; top: 5px;
}

.body-content table td input.readonly{background: lightgray;}
.body-content table td input, .body-content table td select {}

table.reseonsitem{min-height: 60px; margin: 20px 0 20px 0; width: 100%; }
table.reseonsitem td.itm4, table.reseonsitem td.itm3{width: 25%; text-align: right}
table.reseonsitem td.itm2{width: 10%; text-align: center}


a, a:visited, a:hover { text-decoration: none; }


