<app-navbar></app-navbar>

<div class="container">

  <h5 class="page-title">Décaissement</h5>
  <div class="requests-access"><a href="/decaissement">Table de décaissement</a></div>

  <div class="side-left">

    <div class="disbursment-item">
      <a href="#"><img src="assets/icon/{{ budgsector.budgsectorImg }}" alt=""></a>
      <div class="item-label">
        <h4>{{ budgsector.budgsectorName }}</h4>
        <p>{{ budgsector.budgsectorDescription }}</p>
      </div>
    </div>

  </div>

  <div class="body-content">

    <form class="form-disbursment" (ngSubmit)="onSubmitDisbursment(disbursForm)" #disbursForm="ngForm">

      <table>

        <tr>
          <td class="col1" colspan="4"><h6>Bon de sortie de caisse</h6></td>
        </tr>

        <tr>
          <td colspan="4"><br></td>
        </tr>

        <tr>
          <td class="col1" colspan="2">Date: {{ today | date: 'd / MM / yyyy' }}</td>
          <td class="col3" colspan="2"><h6>N° <span>DECAISS{{ today | date: 'YY-MM/' }}{{ numregister }}</span></h6>
              <input type="hidden" name="numero"  ngModel="DECAISS{{ today | date: 'YY-MM/' }}{{ numregister }}">
          </td>
        </tr>

        <tr>
          <td colspan="4"><br></td>
        </tr>

        <tr>
          <td class="col1"></td>
          <td class="col2" style="vertical-align: bottom; padding-bottom: 15px">Bénéficiaire :</td>
          <td class="col3">
            <div class="mb-3">
              <input type="text" name="applicant" class="form-control recipient readonly" readonly
                     ngModel placeholder = "{{ user.civility + '. ' + user.lastname + ' ' + user.firstname }}">

              <select class="form-select" name="for" (change)="onDisplaySelectedBeneficiaryField(disbursForm)"
                      ngModel="" [multiple]="!showSelectedBeneficiary" [hidden]="!showSelectBeneficiary">
                <option *ngFor="let b of searchResult;" value="{{ b.userId }}" >{{ b.civility + '. ' + b.lastname + ' ' + b.firstname }}</option>
              </select>

              <div class="input-group mb-3">
                <select class="form-select" name="civility" ngModel style="width: 10px;"
                      ngModel [hidden]="!showInputBeneficiary">
                  <option value="M">M.</option>
                  <option value="Mme">Mme.</option>
                  <option value="Mlle">Mlle.</option>
                </select>

                <input type="search" name="provider"  class="form-control" placeholder="Nom et Prénoms" autocomplete="off"
                     ngModel [hidden]="!showInputBeneficiary" (input)="onDisplaySelectBeneficiary(disbursForm);" style="width:200px">

                <input type="text" name="mobile"  class="form-control" placeholder="Mobile" autocomplete="off"
                       ngModel [hidden]="!showInputBeneficiary" style="width:100px">
              </div>
              <!--
              <optgroup label="US">
                <option value="">test 1</option>
                <option value="">test 2</option>
                <option value="">test 3</option>
              </optgroup>
              -->

            </div>
          </td>
          <td class="col4" style="vertical-align: bottom; padding-bottom: 15px">
            <a href="#" routerLink="./" (click)="onDisplayInputBeneficiary(disbursForm);">
              <span [hidden]="showSelectBeneficiary">Changer</span>
              <span [hidden]="!showSelectBeneficiary">Annuler</span>
            </a>
          </td>
        </tr>

        <tr>
          <td class="col1"></td>
          <td class="col2">Montant cumulé  :</td>
          <td class="col3">
            <div class="mb-3">
              <input type="text" name="totalamount" class="form-control amount readonly"
                     readonly placeholder="0" ngModel="{{ cumulateAmount }}" required>
            </div>
          </td>
          <td class="col4"><span>XOF</span></td>
        </tr>

        <tr>
          <td colspan="4"><hr></td>
        </tr>

        <tr>
          <td class="col1">Indice du budget :</td>
          <td colspan="3">
            <select name="budgetIndex" class="form-select" ngModel required>
              <option selected></option>

              <option *ngFor="let indexbg of budgetIndex;" value="{{ indexbg.budgindexId }}">
                  {{ indexbg.budgindexName }}
              </option>

              <option value="">Autre</option>
            </select>
          </td>
        </tr>

        <tr>
          <td class="col1">Motif :</td>
          <td colspan="2">
            <div class="mb-3">
              <textarea name="reason" ngModel class="form-control" rows="2"></textarea>
            </div>
          </td>
          <td colspan="2">
            <button class="btn btn-light" type="button" (click)="displayDetailsFields(disbursForm, reasonForm)">+<br/>Détailler</button>
          </td>
        </tr>

        <tr [hidden]="!showDetailsFields">

          <td class="col1"></td>
          <td colspan="3">
            <div class="mb-3" style="border-left: 1px solid #ced4da; padding-left: 10px">

              <table class="reseonsitem">

                <tr>
                  <td  class="itm1" colspan="4"></td>
                </tr>

                <tr style="font-weight: bold; border-bottom: 1px solid #ced4da">
                  <td class="itm1" colspan="">Désignation</td>
                  <td class="itm2" colspan="">Qté</td>
                  <td class="itm3" colspan="">Prix unitaire</td>
                  <td class="itm4" colspan="">Prix total</td>
                </tr>

                <tr *ngFor="let reason of reasons">
                  <td class="itm1">{{ reason.designation!=null ? reason.designation : '-' }}</td>
                  <td class="itm2">{{ reason.quatity!=null ? reason.quatity : '-' }}</td>
                  <td class="itm3">{{ reason.unitprice!=null ? reason.unitprice : '-' }}</td>
                  <td class="itm4">{{ reason.totalprice!=null ? reason.totalprice : '-' }}</td>
                </tr>

              </table>
            </div>
          </td>
        </tr>

        <tr [hidden]="!showDetailsFields">
          <td class="col1"></td>
          <td colspan="3">
            <form (ngSubmit)="onReasonSubmit(reasonForm)" #reasonForm="ngForm">
              <div class="input-group mb-3 details-fields">
                <input type="text" name="designation" ngModel class="form-control" placeholder="Désignation" style="width:220px" required>
                <input type="text" name="unity" ngModel class="form-control" placeholder="... m²/cm/L" style="width:60px">
                <input type="number" name="qte" ngModel class="form-control" placeholder="Qte" style="width:40px; text-align: center" required>
                <input type="number" name="unitprice" ngModel class="form-control" placeholder="Prix U." style="width:60px" required>
                <button class="btn btn-outline-primary" [disabled]="reasonForm.invalid" type="submit">Ajouter</button>
              </div>
            </form>
          </td>
        </tr>

        <tr [hidden]="showDetailsFields">
          <td class="col1">Montant :</td>
          <td colspan="3"><div class="mb-3">
            <input type="text" name="amount" class="form-control" [(ngModel)]="cumulateAmount" placeholder="0" required>
          </div></td>
        </tr>

        <tr>
          <td colspan="4"><hr></td>
        </tr>

        <tr>
          <td class="col1"></td>
          <td class="col2"></td>
          <td class="col3" colspan="2">
            <button  type="submit" class="btn btn-primary" [disabled]="disbursForm.invalid">Soumettre</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div style="clear: both;"></div>
</div>
<app-footer></app-footer>
